.login-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #e7f3ff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
}

.login-container h2 {
    margin: 0 0 20px 0;
    padding: 0;
    color: #894400;
    text-align: center;
    background-color: transparent;
}

.login-container input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ffbb00;
    border-radius: 5px;
    box-sizing: border-box;
}

.login-container button {
    padding: 10px 20px;
    background-color: #713901;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-container button:hover {
    background-color: #7d5324;
}

.login-container p {
    margin-top: 15px;
    margin-bottom: 0;  /* Ensure no bottom margin */
    padding: 0;
}

.login-container a {
    color: #6b3e00;
    text-decoration: none;
}

.login-container a:hover {
    text-decoration: underline;
}

/* Clear any default styling for inputs */
input[type="email"],
input[type="password"] {
    margin: 0;
    padding: 10px;
    outline: none;
    border: 1px solid #ffbb00;
    border-radius: 5px;
    box-sizing: border-box;
}
