.register-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #e7f3ff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.register-container h2 {
    margin-bottom: 20px;
    color: #894400;
}

.register-container input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ffae00;
    border-radius: 5px;
}

.register-container button {
    padding: 10px 20px;
    background-color: #713901;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.register-container button:hover {
    background-color: #7d5324;
}

.register-container p {
    margin-top: 15px;
}

.register-container a {
    color: #4b2c05;
    text-decoration: none;
}

.register-container a:hover {
    text-decoration: underline;
}
