.navbar {
  display: flex;
  align-items: center;
  background: rgba(102, 51, 0, 0.863); 
  padding: 1rem;
  position: relative;
  transition: background-color 0.3s ease;
}

.navbar:hover {
  background:  rgba(203, 179, 128, 0.9); 
}

.navbar-logo{ 
  width: 50px; 
  height: auto; 
  margin-right: 1rem; 
}
.navbar-brand {
  color: #f0efee; 
  margin-right: auto;
  font-size: 1.8rem;
}

.navbar-menu {
  display: flex;
  list-style: none;
}

.navbar-menu li {
  margin: 0 1rem;
}

.navbar-menu li a {
  color: #ecf0f1; 
  text-decoration: none;
  transition: color 0.3s ease;
}

.navbar-menu li a:hover {
  color: #f39c12; 
}


.dropdown {
  position: relative;
}

.dropdown-content {
  display: none; 
  position: absolute;
  background-color: rgba(52, 152, 219, 0.9); 
  min-width: 200px;
  list-style: none;
  padding: 0;
}

.dropdown-content li {
  padding: 10px;
}

.dropdown-content li a {
  color: #ecf0f1; 
}


.dropdown:hover .dropdown-content,
.dropdown-content.show {
  display: block; 
}

.navbar-menu {
  flex-direction: column; 
      display: none; 
      position: absolute; 
      top: 100%; 
      left: 0; 
      right: 0; 
      background-color: rgba(0, 0, 0, 0.8); 
      transition: max-height 0.3s ease, opacity 0.3s ease; 
      max-height: 0; 
      opacity: 0; 
      overflow-y:hidden; 
      z-index:1000; 
 }

 .navbar-menu.active {
     display:flex; 
     max-height:none; 
     opacity:1; 
 }
